* 
{
	font-style: Georgia;
	margin:0;
}
	
#container-1, #container-2, #banner, #foot
{
	display:flex;
}

#head-l, #head-r
{
	background-color: RGB(197,85,160);
	text-align: center;
	height: 180px;
	width: 50%;
}

#baner, #foot
{
	background-color: RGB(246,226,222);
	text-align: center;
	height: 100px;
	padding: 10px;
}

#main-l, #main-r
{
	background-color: RGB(197,85,160);
	color: white;
	flex-basis: 50%;
	height: 400px;
}

#odnosnik
{
	background-image: url("cukierki1.png");
	background-repeat: no-repeat;
	padding-right: 70px;
	padding-bottom: 120px;
	font-size: 150%;
	text-decoration: none;
}

table, td
{
	border: 2px;
	border-style: solid;
	border-color: blue;
	margin: 20px;
	padding: 10px;
}